@model Basket.Web.Controllers.ProductSearchController.ViewModel

@{
    ViewBag.Title = "Product Search";
}

<header class="catalog">
    <img src="http://www.longaberger.com/images/logo.png" width="224" height="62">
    <form action="@Url.Action("Index", "ProductSearch")" method="get">
        <input type="text" name="q" placeholder="Enter Search Text"/>
        <button type="submit">Search</button>
    </form>
</header>
<main class="catalog">
    <section id="categories">
        @foreach (var category in Model.Categories)
        {
            <a href="@Url.Action("Index", "ProductsByCategory", new {category})">@category</a>
        }
    </section>
    <section id="products">
        <h2>You searched for: @Model.Query</h2>
        <section class="items">
            @foreach (var product in Model.Products)
            {
                <div class="product">
                    <img src="@product.ImageUrl" alt="@product.Description" width="150" height="150" />
                    <div class="description">@product.Description</div>
                    <div class="price">@product.Price.ToString("C")</div>
                </div>
            }
        </section>
    </section>
</main>